:root {
  --font-size: 100%;
}
body {
  background: #b6d4aa;
}
html {
  font-size: var(--font-size);
}
.plant-details__container {
  width: 50rem;
  height: 30rem;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.15);
}
.plant-details__headers {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(194, 182, 182);
}
.plant-details__back {
  color: #807d80;
  text-decoration: none;
}
.plant-details__like {
  font-size: 1.6rem;
  color: #3f343f;
}
.plant-details__back > i {
  margin-right: 0.3rem;
}
.plant-details__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 80%;
}
.plant-details__image {
  display: block;
  width: 40%;
  border-right: 1px solid rgb(241, 241, 241);
}
.detail-plants__info {
  width: 60%;
  padding-left: 2rem;
}
.plant-detail__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #555050;
}
.plant-details__category {
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #6d6969;
}
.plant-details__price {
  font-size: 2rem;
  color: #555050;
}
.plant-details__description {
  padding: 1.4rem 0 3rem 0;
  color: #6d6969;
}
.plant-details__button {
  background: white;
  color: #6d6969;
  border: 1px solid #666666;
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.plant-details__button:first-of-type {
  margin-right: 1rem;
}
